*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

img{
    max-width: 100%;
    height: auto;

}

.image{
    width: 100%;
}

.myclass {
    font-size: 15px;
    text-align: center;
}

.myclass table tr th{
    padding: 5px;
}

.myclass table tr img{
    padding: 5px;
}

table{
    width: 100%
}

body{
    background-color: #cccccc;
}

.header{
    background-color: grey;
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: white;
    letter-spacing:4px;
}

.header ul{
    list-style-type: none;
    line-height: 50px;
}

.header ul li{
    display: inline;
    padding: inherit;
}

.header ul li a{
    color:white;
    margin-left: 20px;
}

.table th td{
    border: 1px black;
    font-size: 15px;
}

.myTable{
    margin-left: auto;
    margin-right: auto;
    background-color: lightslategrey;
}

.banner{
    opacity:0.60;
    width:100%;
    height: 110px;
    background-color: #254061;
    color: white;
    position: relative;
    
}

.banner h1{
    text-align: center;
    font-size: 50px;
    line-height: 110px;
}

.content{
    background-color: white;
    color: black;
    width: 30%;
    height: 375px;
    margin-left: 530px;
    text-align: center;
}

.timage{
    height:70%;
    vertical-align: middle;
    text-align:center;
}

.timage img{
    display:block;
    margin: auto;
    width:100%
}

.pcontent{
    padding:10px;
    
}

.contactUs{
    text-align: center;
    padding: 5px;
}

.contactUs form, p {
    background-color: white;
    padding: 5px;

}

.contactUs h2, h3 {
    padding: 10px;
}

.contactUs img{
    height: 80px;
}

.inputbox{
    padding: 2px;
    text-decoration-color: skyblue;

}

.sendbutton{
    padding: 2px;
}

.footer{
    width: 100%;
    background-color: #254061;
    color: white;
    text-align: center;
    line-height:50px;
    vertical-align: bottom;
}